@using TravelEurope.Areas.AdminPanel.ViewModels
@model TravelEurope.Areas.AdminPanel.ViewModels.TuristRuteIndexVM
@{
    ViewData["Title"] = "TravelEurope";
    Layout = "AdminPanelLayout";
}
<h2>Lista svih turist ruta</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Trenutne turist rute
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Turistički vodič</th>
                        <th>Država</th>
                        <th>Cijena po danu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Rows)
                    {
                    <tr>
                        <td>@x.Naziv</td>
                        <td>@x.Opis</td>
                        <td>@x.TuristickiVodic</td>
                        <td>@x.Drzava</td>
                        <td>@x.CijenaPoDanu KM</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
