@using TravelEurope.Areas.RadnikPanel.ViewModels
@model TravelEurope.Areas.RadnikPanel.ViewModels.VozilaDodajVM
@{
    ViewData["Title"] = "TravelEurope";
    Layout = "RadnikPanelLayout";

}
<h2>Dodajte novo vozilo</h2>
<form asp-area="RadnikPanel" asp-action="Dodaj" method="post">
    <input type="hidden" value="@Model.VoziloId" name="VoziloId" />
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.Naziv">Naziv</label>
        <input asp-for="@Model.Naziv" class="form-control" type="text" />
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        @Html.Label("Tip vozila")
        @Html.DropDownListFor(model => model.TipVozilaId, Model.TipVozilaLista, new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.GodinaProizvodnje">Godina proizvodnje</label>
        @Html.DropDownListFor(m => m.GodinaProizvodnje, Enumerable.Range(2014,2019).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        @Html.Label("Marka vozila")
        @Html.DropDownListFor(model => model.MarkaVozilaId, Model.MarkaVozilaLista, new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        @Html.Label("Status vozila")
        @Html.DropDownListFor(model => model.StatusVozilaId, Model.StatusVozilaLista, new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        @Html.Label("Vrsta goriva")
        @Html.DropDownListFor(model => model.VrstaGorivaId, Model.VrstaGorivaLista, new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.Boja">Boja</label>
        <input asp-for="@Model.Boja" class="form-control" type="text" />
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.BrojSjedista">Broj sjedišta</label>
        @Html.DropDownListFor(m => m.BrojSjedista, Enumerable.Range(2, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.BrojVrata">Broj vrata</label>
        @Html.DropDownListFor(m => m.BrojVrata, Enumerable.Range(2, 6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
    </div>
    <div class="col-md-4 col-sm-12 form-group">
        <label asp-for="@Model.CijenaPoDanu">Cijena po danu</label>
        <input asp-for="@Model.CijenaPoDanu" class="form-control" type="number" />
    </div>
    <button type="submit" class="btn btn-success">Sačuvaj</button>
</form>
