@using TravelEurope.Areas.RadnikPanel.ViewModels
@model TravelEurope.Areas.RadnikPanel.ViewModels.VozilaIndexVM
@{
    ViewData["Title"] = "TravelEurope";
    Layout = "RadnikPanelLayout";

}
<h2>Lista trenutnih vozila u ponudi</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Trenutna vozila
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Marka vozila</th>
                        <th>Godina proizvodnje</th>
                        <th>Tip vozila</th>
                        <th>Status vozila</th>
                        <th>Vrsta goriva</th>
                        <th>Broj sjedista</th>
                        <th>Boja</th>
                        <th>Broj vrata</th>
                        <th>Cijena usluge po danu</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Rows)
                    {
                    <tr>
                        <td>@x.Naziv</td>
                        <td>@x.MarkaVozila</td>
                        <td>@x.GodinaProizvodnje.ToString()</td>
                        <td>@x.TipVozila</td>
                        <td>@x.StatusVozila.ToString()</td>
                        <td>@x.VrstaGoriva</td>
                        <td>@x.BrojSjedista</td>
                        <td>@x.Boja</td>
                        <td>@x.BrojVrata</td>
                        <td>@x.CijenaPoDanu KM</td>
                        <td>
                            <a asp-action="Uredi" asp-controller="Vozila" asp-area="RadnikPanel" asp-route-id="@x.VoziloId" class="btn btn-info font-sizes"><i class="fas fa-search icons-margin-right"></i>Uredi </a>
                            <a asp-action="Obrisi" asp-controller="Vozila" asp-area="RadnikPanel" asp-route-id="@x.VoziloId" class="btn btn-danger font-sizes"><i class="fas fa-delete icons-margin-right"></i>Obriši vozilo</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a asp-area="RadnikPanel" asp-action="Dodaj" asp-controller="Vozila" class="btn btn-success  col-md-2 font-sizes"><i class="fas fa-plus-circle icons-margin-right"></i> Dodaj vozilo</a>

