@model TravelEurope.Areas.AdminPanel.ViewModels.AdminProfilVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "AdminPanelLayout";
}
<head>
    <environment include="Production">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </environment>
</head>
<body>
    <div class="container emp-profile">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-head">
                        <h4>Ovdje možete dobiti uvid u vaše podatke.</h4>
                        <p></p>
                        <h6>Username: @Model.Administrator.ApplicationUser.Ime @Model.Administrator.ApplicationUser.Prezime</h6>
                        @if (User.IsInRole("Administrator"))
                        {
                        <h6>
                            Role: Administrator
                        </h6>
                        }
                        else
                        {
                            <h6>Role: Radnik</h6>
                        }
                        <p></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Osnovno</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Više</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#authenticator" role="tab" aria-controls="profile" aria-selected="false">Authenticator</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <p></p>
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Ime i prezime</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.ApplicationUser.Ime @Model.Administrator.ApplicationUser.Prezime</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>JMBG</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.ApplicationUser.JMBG</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Datum rođenja</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.ApplicationUser.DatumRodjenja.ToShortDateString()</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Telefon</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.ApplicationUser.Telefon</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Adresa</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.ApplicationUser.Adresa</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="@Model.Administrator.ApplicationUser.Grad">Grad</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Grad</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Izjava</label>
                                </div>
                                <div class="col-md-4">
                                    <p>@Model.Administrator.IzjavaZastitaPodataka</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label></label>
                                </div>
                                <div class="col-md-4">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="authenticator" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Enable authenticator</label>
                                </div>
                                <div class="col-md-4">
                                    <p><a asp-area="Identity" asp-page="/Account/Manage/EnableAuthenticator">Enable authenticator</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
